.container {
    width: 1200px;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    height: 200px;
}

.app-header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.link-1,
.link-2,
.link-3 {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.app-header-title {
    margin: 0;
    font-size: 60px;
    border-bottom: 3px solid #000000;
    border-top: 2px solid;
    padding: 20px;
}

.app-header-sub {
    border-bottom: 3px solid #000000;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    font-size: 12px;
    color: #666;
}

main {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        width: auto;
        height: auto;
        justify-content: center;
        font-size: small;
    }

    .link-1,
    .link-2,
    .link-3 {
        font-size: 15px;
    }

    main {
        width: auto;
        height: auto;
    }

    header {
        width: auto;
        height: auto;
    }

    .app-header-title {
        font-size: 40px;
    }

    .app-header-sub {
        font-size: 13px;
        padding: 10px;
    }
}