<div class="container">
  <header>
    <div class="app-header-info">
      <div>Site Pessoal</div>
      <div>Github</div>
      <div>LinkedIn</div>

    </div>
    <h1 class="app-header">C.R.U.D Angular</h1>

    <div class="app-header-sub">

      <div>
      </div>

      <div>
        ★★★★★
      </div>

      {{ currentDate }} 

      <div>
        ★★★★★
      </div>

      <div>
        
      </div>

    </div>

  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2023 Minha Aplicação</p>
  </footer>
</div>