// Variáveis
$primary-color: #000000;
$secondary-color: #666;
$font-size-large: 60px;
$font-size-medium: 40px;
$font-size-small: 15px;
$font-size-extra-small: 12px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;


// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border-style($width, $color) {
    border-bottom: $width solid $color;
    border-top: $width solid $color;
}

@mixin remove-style {
    color: $primary-color;
    text-decoration: none;
}

.container {
    width: 1200px;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    header {
        height: 200px;

        .app-header-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 $padding-medium;
        }

        .link-1,
        .link-2,
        .link-3 {
            @include remove-style;
        }

        .app-header-title {
            margin: 0;
            font-size: 50px;
            padding: $padding-large;
            border-top: 1px solid $primary-color;
        }

        .app-header-sub {
            @include border-style(3px, $primary-color);
            padding: $padding-medium;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

/* Media Queries */

// Media Query Mixin
// mixin são funções que podem ser reutilizadas em diferentes partes do código
// respond-to é o nome do mixin, e small é o parâmetro que pode ser passado para ele
// O mixin é chamado com o @include, e o conteúdo dentro do bloco @content será inserido no local onde o mixin é chamado
@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
        @media (max-width: 1200px) {
            @content;
        }
    }
}

// Uso do Mixin
// Media Query para telas pequenas
@include respond-to(small) {
    .container {
        width: auto;
        height: auto;
        justify-content: center;
        font-size: small;
    }

    main,
    header {
        width: auto;
        height: auto;
    }

    .app-header-sub {
        font-size: $font-size-small;
        padding: $padding-small;
    }
}