<div class="lista-livros">
  <div class="bloco-lista">
    <h1>Lista de Livros</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Editora</th>
          <th>Ano</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let livro of livros; let i = index" [class.odd]="i % 2 === 0" [class.even]="i % 2 !== 0">
          <td>{{ livro.id }}</td>
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.autor }}</td>
          <td>{{ livro.editora }}</td>
          <td>{{ livro.ano }}</td>
          <td style="display: flex; gap: 10px;">
            <a [routerLink]="['/livros/editar', livro.id]">Editar</a>
            <button (click)="deleteLivro(livro.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="padding-top: 10px;">
      <a routerLink="/livros/adicionar" >Adicionar Livro</a>
    </div>

  </div>

  <div class="bloco-texto">
    <h1>Sobre Este Projeto</h1>
    Fiz este projeto para praticar minhas habilidades usando Angular e TypeScript.
    O projeto é um C.R.U.D (Create, Read, Update, Delete) simples que, como o nome já diz (em inglês), permite adicionar, ler,
    editar e excluir livros de uma lista. A lista é exibida em uma tabela, onde cada livro é listado
    com seu ID, título, autor, editora e ano de publicação, sendo essa lista armazenada em um simples array
    sem conexão com um banco de dados e portanto sem persistencia de dados (ao atualizar a página os dados são perdidos).
    Para um projeto com integração com banco de dados clique <a href="https://github.com/FelipeDNL/gerenciamento-emprestimos-livros-mysql" target="_blank" class="link-1">aqui</a>.
    
  </div>
</div>

<div class="bloco-texto-2">
  <h1>Mais Detalhes!  </h1>
  Utilizei SCSS para estilizar e deixar o site visualmente mais interesssante, utlizando uma estética de jornal antigo
  que mais ou menos encaixa na temática de livros (talvez nem tanto mas é melhor que uma página chata). 
  O repositório do projeto é público, está disponível no meu GitHub e pode ser acessado <a href="https://github.com/FelipeDNL/angular-crud-app" target="_blank" class="link-1">aqui</a>.
</div>